<!DOCTYPE HTML>
<html>
<head>
    
    <title>
    Furniture
    </title>
    
    <script type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    

    
    
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    </head>
    
    
    <body>
        
 <!DOCTYPE HTML>
<html>
<head>
    
    <title>
    Furniture
    </title>
    
    <script type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    
 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    
    
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    </head>
    
    
    <body>
        
        
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span id="brand-name"> R.C.G WORKS</span>  </a>
        
        </div>
        
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
        <ul class="nav navbar-nav navbar-right">
             
             <li class="active"><a href="/">Home</a></li>
             
            
<!--
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What we do<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Manufacturing</a>
                <li class="sub-dropmenu"><a href="#"></a></li>
                 <li class="sub-dropmenu"><a href="#"></a></li>
                 <li class="sub-dropmenu"><a href="#"></a></li>
              
              </li>
            <li><a href="#">Finishing</a></li>
            <li><a href="#">Upholstery</a></li>
           
            
          </ul>
        </li>
-->
            
         
        
            <li class="ui pointing dropdown">
 <a href="#" class="text">What we do<span>
     <i class="dropdown icon"></i></span></a>
  <div class="menu">
    
 
    
    <div class="item">
      <i class="dropdown icon"></i>
      Manufacturing
      <div class="menu">
        <div class="item"><a href="/gallery">Bed</a></div>
        <div class="item"><a href="#">Kitchen</a></div>
        <div class="item"><a href="#">Chair</a></div>
        <div class="item"><a href="#">Sofa</a></div>
        <div class="item"><a href="#">Center Table</a></div>
        <div class="item"><a href="#">Dining Table</a></div>
          <div class="item"><a href="#">Lounge</a></div>
          <div class="item"><a href="#">TV Unit</a></div>
          <div class="item"><a href="#">Couch</a></div>
          <div class="item"><a href="#">Doors</a></div>
          <div class="item"><a href="#">Settee</a></div>
      </div>
    </div>
      
      
      <div class="item">
      <i class="dropdown icon"></i>
      Finishing
      <div class="menu">
        <div class="item"><a href="#">Melamine Finish</a></div>
        <div class="item"><a href="#">Matte Finish</a></div>
        <div class="item"><a href="#">Glossy Finish</a></div>
        <div class="item"><a href="#">PU Finish</a></div>
        <div class="item"><a href="/hfinishing">Hammer Tone Finish</a></div>
        <div class="item"><a href="#">Metallic Finish</a></div>
          <div class="item"><a href="#">Marble Finish</a></div>
          <div class="item"><a href="#">Crackle Finish</a></div>
          <div class="item"><a href="#">Water Base Finish</a></div>
          <div class="item"><a href="#">Polyster Finish</a></div>
          <div class="item"><a href="#">Acrylic Finish</a></div>
          <div class="item"><a href="#">PU High Gloss Pigmented Finish</a></div>
          <div class="item"><a href="#">Texture Finish</a></div>
          <div class="item"><a href="#">Pearl Finish</a></div>
          
      </div>
    </div>
      
      
      <div class="item"><a href="#">Upholstery(Fabric)</a></div>
      
      
      
  </div>
</li>
            
          
            
        
            
            
            <li class="ui dropdown">
                
<a href="#" class="text">Products<span>
  <i class="dropdown icon"></i></span></a>  
  <div class="menu">
    <div class="item"><a href="/products/beds">Beds</a></div>
    <div class="item"><a href="#">Sofas</a></div>
      <div class="item"><a href="#">Kitchens</a></div>
      <div class="item"><a href="#">Chairs</a></div>
      <div class="item"><a href="#">Tables</a></div>
      <div class="item"><a href="#">TV Units</a></div>
      <div class="item"><a href="#">Doors</a></div>
      
                </div>
      
  
</li>
             
             
            
            
            
            
            
            <li><a href="/about">About</a></li>
            
            <li><a href="/contact">Contact Us</a></li>
             <li><a href="/login">Login</a></li>
            
             <li><a href="/signup">Sign up</a></li>
            
             </ul>
        
        
        </div>    
        </div>
        
        
        
    </nav>
        
    
    
    
  
    
  