
<% include partials/header %> 
<div class="container">
    <div class="jumbotron">
   <h1>Contact </h1>
    </div>
    <h2 class="heading">Contact Us </h2>
    
 
    <p>We are looking forward to hear from you. 
        Contact us at this number: 9811739496 or email us at rcgfurniture@gmail.com </p>

    <p> Have a question about your custom cabinet or furniture project? After going through our website, we are sure you’ll have a lot of questions, you can give us a call or send us a message.</p>


    <p>Fill out the form below, click send and we will respond as soon as we get your request, leave your details in comment box

     </p>
    <div class="address">
      <h2>Visit Our Workshop Today</h2>
        <img src="../assets/images/b1.jpg">
        
        <h4>Address: </h4>
        <p>B-89, 1st & 2nd Floor,<br>
           WHS Kirti Nagar, Timber Market<br>
           New Delhi 110015 </p><br>

<div >
<h4 class="info">Contact:  </h4>
<p class="info">9811739496,  9717066105</p>   
</div>

<div >
<h4 class="info">Email:  </h4>
<p class="info">rcgfurniture@gmail.com,  jkgupta4398@gmail.com</p>   
</div>

 <h5>          
 Monday-Saturday:  9:00am - 9:00pm <br>
Sunday: 9:00am - 5:00pm
</h5>
        
    </div>
</div>  
<% include partials/footer %> 