<% include partials/header %>
<div class="container">

    <h1>This is the gallery page</h1>
    
<h2>HammerTone samples</h2>
    
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class = "thumbnail"><img src="../assets/images/1.jpg">
      </div>
      </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/2.jpg">
        </div>
    </div>
    <div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/3.jpg">
        </div>
        </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/4.jpg">
        </div>
        </div>
    
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class = "thumbnail"><img src="../assets/images/5.jpg">
      </div>
      </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/6.jpg">
        </div>
        </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/7.jpg">
        </div>
        </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class = "thumbnail"><img src="../assets/images/8.jpg">
        </div>
        </div>
 
</div>
    
   
</div>
    
    <% include partials/footer %>