<% include partials/header %>

<style>
    
html,body{
    
   background-image: url(https://cdn.pixabay.com/photo/2015/09/01/22/31/table-917682_960_720.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding:0;
    width: 100%;
    height:100%;
   
}
 .container .jumbotron{
        color: white;
    }
    
.container .jumbotron h1{
     font-size: 30px;
     margin-bottom: 30px;
    }   
    .form-group .caption{
        font-size:17px;
    }  
    .btn-primary{
        margin-top: 15px;
        width: 110px;
        background-color:#0d2eda;
        border-color:#0d2eda;
        font-size: 1.2em;
    }
    
    </style>


<body class="signinpage">
    
<div class="container"> 
    <div class="jumbotron">    
<h1>Log in here</h1>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1" class="caption">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="caption">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    </div>
</body>
<% include partials/footer %>